name: Build and Push Image

on:
  push:
    branches:
      - main
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  release:
    name: Call Release Workflow
    permissions:
      contents: read
      packages: write
    uses: overburrow/charts/.github/workflows/release.yaml@main
    with:
      image_name: homepage
      image_tag: ${{ github.sha }}
      dockerfile_path: ./Dockerfile
